<mat-toolbar color="primary">
    <span>Todo List</span>
    <button mat-icon-button (click)="getData()">
        <mat-icon>loop</mat-icon>
    </button>
    <button mat-icon-button (click)="add()">
        <mat-icon>control_point</mat-icon>
    </button>
</mat-toolbar>
<br>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
<app-toaster></app-toaster>
<app-header></app-header>
<mat-list>
    <mat-list-item *ngFor="let task of tasks$ | async">
        <mat-icon class="pointer" delete (click)="delete(task)">delete</mat-icon>
        <h4 class="pointer">
            <a (click)="update(task)">{{task.name}}</a>
        </h4>
    </mat-list-item>
</mat-list>